apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Chart.Name }}-dev
spec:
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
      - name: web
        image: {{ .Values.werf.image.simple_website }}
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          limits:
            cpu: 5m
          requests:
            cpu: 1m
