name: deploy
 on:
   pull_request:
     branches: [ main ]

 jobs:
   converge:
     name: Converge
     runs-on: ubuntu-latest
     steps:

       - name: Checkout code
         uses: actions/checkout@v2
         with:
           fetch-depth: 0

       - name: Login to Docker Hub
         uses: docker/login-action@v1
         with:
           username: ${{ secrets.DOCKERHUB_USERNAME }}
           password: ${{ secrets.DOCKERHUB_TOKEN }}

       - name: Converge
         uses: werf/actions/converge@v1.2
         with:
           env: dev
           kube-config-base64-data: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
         env:
           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
